<!-- Normal header -->
<header class="header" hide-xs>
	<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
		<!--<md-nav-item md-nav-click="goto('home')" name="home">Home</md-nav-item>-->
		<md-nav-item md-nav-click="goto('blog')" name="blog">Blog</md-nav-item>
		<!--
		<md-nav-item md-nav-click="setMenu('dota2')" name="dota2">
			Dota 2 <i class="fa fa-caret-down" aria-hidden="true"></i>
			<div class="menu-drop" ng-show="isMenu('dota2')">
				<md-button ng-click="go('root.dota2.heroes')">Heroes</md-button>
				<md-button ng-click="go('root.dota2.items')">Items</md-button>
			</div>
		</md-nav-item>
		<md-nav-item md-nav-click="setMenu('wc3')" name="wc3">
			Warcraft III <i class="fa fa-caret-down" aria-hidden="true"></i>
			<div class="menu-drop" ng-show="isMenu('wc3')">
				<md-button ng-click="go('root.wc3.heroes')">Heroes</md-button>
				<md-button ng-click="go('root.wc3.items')">Items</md-button>
			</div>
		</md-nav-item>
		-->
		<md-nav-item md-nav-click="goto('heroes')" name="heroes">Heroes</md-nav-item>
		<md-nav-item md-nav-click="goto('items')" name="items">Items</md-nav-item>
		<md-nav-item md-nav-click="goto('forum.home')" name="forum">Forum</md-nav-item>
		<span flex></span> 
		<div layout-align="center center" layout="row">
			<a href="https://goo.gl/dx2w7x" download>
				<md-button class="md-primary md-raised" aria-label="Download link">
					<i class="fa fa-download" aria-hidden="true"></i>
					Download
				</md-button>
			</a>
		</div>
		<div layout-align="center center" layout="row">
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3JF66XY2HPUSC">
				<md-button class="md-warn md-raised" aria-label="Donate">
					<i class="fa fa-heart" aria-hidden="true"></i>
					Donate
				</md-button>
			</a>
		</div>
		<div layout-align="center center" layout="row">
			<!--<a href="https://www.facebook.com/ninpouofficial/">
				<md-button aria-label="Facebook page">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</md-button>
			</a>-->
			<div ng-if="!user">
				<a href="/auth/steam"><img src="assets/img/steam_signin.png" /></a>
			</div>
		</div>		
		<md-nav-item ng-if="user" class="nav-user" md-nav-click="setMenu('profile')" name="profile">
			<img ng-src="{{ user.profilePhoto }}" /> <i class="fa fa-caret-down" aria-hidden="true"></i> 
			<div class="menu-drop" ng-show="isMenu('profile')" layout="column" layout-align="center center">
				<a href ui-sref="root.profile({ id: user._id })"><md-button>{{ user.displayName }}</md-button></a>
				<md-button ng-click="go('logout')">Logout</md-button>
			</div>
		</md-nav-item>
	</md-nav-bar>
</header>

<!-- Responsive header -->
<header class="header" hide-gt-xs>
	<md-nav-bar md-selected-nav-item="sidebarNavItem" nav-bar-aria-label="navigation links">
		<md-nav-item md-nav-click="openSidenav()" name="sidebar"><i class="fa fa-bars"></i> Menu</md-nav-item>
		<span flex></span>
		<div layout-align="center center" layout="row">
			<div ng-if="!user">
				<a href="/auth/steam"><img src="assets/img/steam_signin.png" /></a>
			</div>
		</div>	
		<md-nav-item ng-if="user" class="nav-user" md-nav-click="setMenu('profile')" name="profile">
			<img ng-src="{{ user.profilePhoto }}" /> <i class="fa fa-caret-down" aria-hidden="true"></i> 
			<div class="menu-drop" ng-show="isMenu('profile')" layout="column" layout-align="center center">
				<a href ui-sref="root.profile({ id: user._id })"><md-button>{{ user.displayName }}</md-button></a>
				<md-button ng-click="go('logout')">Logout</md-button>
			</div>
		</md-nav-item>
	</md-nav-bar>
</header> 

<md-sidenav
	md-component-id="left"
	md-whiteframe="4">
	<md-toolbar class="md-theme-indigo">
		<div class="md-toolbar-tools">
			<md-button ng-click="closeSidenav()" aria-label="Close"><i class="fa fa-bars"></i></md-button>
			<h1>Menu</h1>
		</div>
	</md-toolbar>
	<md-content layout-padding layout="column">
		<md-button ng-click="goto('home')" class="md-primary">Home</md-button>
		<md-button ng-click="goto('blog')" class="md-primary">Blog</md-button>
		<md-button ng-click="goto('heroes')" class="md-primary">Heroes</md-button>
		<md-button ng-click="goto('items')" class="md-primary">Items</md-button>
		<md-button ng-click="goto('forum.home')" class="md-primary">Forum</md-button>
		<!--<md-divider></md-divider>
		<p style="text-align: center;">Dota 2</p>
		<div layout="row" layout-align="center">
			<md-button ng-click="goto('dota2.heroes')" class="md-primary">Heroes</md-button>
			<md-button ng-click="goto('dota2.items')" class="md-primary">Items</md-button>
		</div>
		<md-divider></md-divider>
		<p style="text-align: center;">Warcraft III</p>
		<div layout="row" layout-align="center">
			<md-button ng-click="goto('wc3.heroes')" class="md-primary">Heroes</md-button>
			<md-button ng-click="goto('wc3.items')" class="md-primary">Items</md-button>
		</div>-->
	</md-content>
</md-sidenav>

<div id="background"></div>

<md-content>
	<md-content class="md-padding main-panel" layout="column">
		<main class="md-padding" layout="column" layout-fill>
			<ui-view></ui-view>
		</main>
	</md-content>
</md-content> 