<div layout="row">
	<div flex="20" layout="column">
		<div class="avatar">
			<img ng-src="{{ profile.profilePhoto }}" ng-alt="{{ profile.displayName }}" />
		</div>
		<a ng-href="{{ profile.steamProfileUrl }}" target="_blank" nf-if="profile.steamProfileUrl">
			<img src="assets/img/steam.png" alt="Steam account" class="steam" />
		</a>
	</div>
	<div flex="80" layout="column" style="padding-left: 5px; padding-right: 5px;">
		<table flex>
			<tr>
				<td width="30%" align="right"><b>Member since:</b></td>
				<td width="70%">{{ oidToDate(profile._id) | date }}</td>
			</tr>
			<tr>
				<td width="30%" align="right"><b>Last access:</b></td>
				<td width="70%"><time ng-bind="timeAgoDate(profile.lastAccess)"></time></td>
			</tr>
			<tr>
				<td width="30%" align="right"><b>Number of threads:</b></td>
				<td width="70%">{{ profile.numThreads || 0 | number }}</td>
			</tr>
			<tr>
				<td width="30%" align="right"><b>Number of replies:</b></td>
				<td width="70%">{{ profile.numReplies || 0 | number }}</td>
			</tr>
		</table>
		<a href ui-sref="root.edit_profile" ng-if="user._id == profile._id"><md-button>Edit profile</md-button></a>
	</div>
</div>