#background {
	position: fixed; 
	background: url('../img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%; 
	height: 100%;
}

.menu-drop {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.12);	
}

.menu-drop .md-button {
	display: block;
	padding: 0px;
	border: 0px;
}

md-content {
	display: inline;
}

md-nav-ink-bar {
	position: inherit;
}

.md-nav-bar {
	background-color: white !important;
	z-index: 100 !important;
}

.md-nav-bar ul li {
	border-right: 1px solid rgba(0, 0, 0, 0.12);		
	margin-top: 0;
	margin-left: 0;
	height: 50px;
}

.nav-user img {
	height: 30px;
}

.header {
	top: 0; 
	position: fixed; 
	z-index: 10; 
	width: 100%;
}

.main-panel {
	background: transparent;
}

.main-panel main {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.12);
	margin-top: 50px;
}

a {
	text-decoration: none;
}

#forum section {
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 1px;
	margin-bottom: 10px;
}

#forum section h3 {
	background-color: #ededed;
	padding: 0;
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#forum section h3 img {
	height: 25px;
	margin-right: 5px;
}

#forum article {
	padding: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#forum article img {
	width: 100%;
}

#forum article h4, #forum article p {
	margin: 5px;
}

.thread {
	border: 1px solid rgba(0, 0, 0, 0.12);
}

.thread.ng-enter {
	-webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}

.thread.ng-enter-active {
	opacity: 1;
}

.sticky {
	background-color: rgba(255, 255, 204, 0.5);
}

.pages .md-button {
	background-color: rgba(0, 0, 0, 0.06);
	width: 30px;
	height: 30px;
	line-height: 30px;
	min-width: 30px;
	min-height: 30px;
	vertical-align: top;
	font-size: 15px;
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.12);
}

.pages .active {
	background-color: rgb(103,58,183);
	color: white;
}

.dialog {
	background: white;
	border-radius: 4px;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
	  0 13px 19px 2px rgba(0, 0, 0, 0.14),
	  0 5px 24px 4px rgba(0, 0, 0, 0.12);
	 width: 500px;
}

@media (max-device-width: 500px) {
	.dialog {
		width: 300px;
	}
}

.dialog textarea {
	height: 200px;
	max-height: 200px;
	resize: none;
	overflow-y: scroll;
}

.arrow {
	position: relative;
	background: #f8f8f8;
	border: 1px solid #e1e1e1;
}

.arrow:after, .arrow:before {
	left: 100%;
	top: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow:after {
	border-color: rgba(248, 248, 248, 0);
	border-left-color: #f8f8f8;
	border-width: 10px;
	margin-top: -10px;
}

.arrow:before {
	border-color: rgba(225, 225, 225, 0);
	border-left-color: #e1e1e1;
	border-width: 11px;
	margin-top: -11px;
}

.reply {
	background-color: rgba(0, 0, 0, 0.01);
	border: 1px solid rgba(0, 0, 0, 0.12);
	padding: 5px;
	margin-bottom: 10px;
}

.reply.ng-enter {
	-webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}

.reply.ng-enter-active {
	opacity: 1;
}

.reply .profile {
	background-color: rgba(0, 0, 0, 0.03);
	border: 1px solid rgba(0, 0, 0, 0.12);
}

.reply .profile img {
	width: 100%;
}

.reply .profile .avatar {
	width: 80%;
	border: 1px solid rgba(0, 0, 0, 0.12);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px;
	padding-bottom: 1px;
}

.reply .profile p {
	margin: 5px;
	font-size: 0.8em;
}

.reply .profile h5 {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.06);
	border: 1px solid rgba(0, 0, 0, 0.09);
	margin: 2px;
	padding: 10px;
}


@media (max-device-width: 500px) {
	.reply .profile h5 {
		font-size: 0.5em;
	}
}

.reply .profile .steam {
	margin-bottom: -5px;
}

.reply .body {
	margin-left: 15px;
	margin-right: 10px;
	margin-top: -10px;
}

.reply .body img {
	max-width: 100%;
	max-height: 500px;
}

.reply-box {
	background-color: rgba(0, 0, 0, 0.06); 
	border: 1px solid rgba(0, 0, 0, 0.12); 
	margin-bottom: 10px; 
	padding: 5px;
	margin-left: 50px;
}

.reply-box-arrow {
	position: relative;
	background: #efefef;
	border: 1px solid #e0e0e0;
}
.reply-box-arrow:after, .reply-box-arrow:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.reply-box-arrow:after {
	border-color: rgba(239, 239, 239, 0);
	border-right-color: #efefef;
	border-width: 30px;
	margin-top: -30px;
}
.reply-box-arrow:before {
	border-color: rgba(224, 224, 224, 0);
	border-right-color: #e0e0e0;
	border-width: 31px;
	margin-top: -31px;
}

.reply-box textarea, #thread-text-area {
	height: 200px;
	max-height: 200px;
	resize: none;
	overflow-y: scroll;
}

.reply-box-avatar {
	width: 100%; 
	border: 1px solid rgba(0, 0, 0, 0.06); 
	padding: 3px;
}

md-tooltip .md-content {
    height: auto;
}

.md-dialog-container {
	z-index: 1000 !important;
}

.show-more-container {
    overflow: hidden;
}

.show-more-collapse, .show-more-expand {
    text-align: center;
    display: none;
}

.show-more-expanded > .show-more-collapse {
    display: inherit;
}

.show-more-collapsed > .show-more-expand {
    display: inherit;
}

.profile {
	border: 1px solid rgba(0, 0, 0, 0.12);
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.03);
}

.profile .avatar {
	border: 1px solid rgba(0, 0, 0, 0.12);
	padding: 5px;
	background-color: white;
	padding-bottom: 1px;
}

.profile img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.profile .steam {
	width: 100%;
}

.profile table {
	width: 100%;
	background-color: white;
	border: 1px solid #e1e1e1;
}

.profile td {
	padding: 15px;
}

.profile td:first-child {
	background-color: #e1e1e1;
}

.blog-post {
	border: 1px solid rgb(103,58,183);
	background-color: rgb(103,58,183);
	margin-bottom: 10px;
	border-radius: 2px;
}

.blog-post h3 {
	color: white;
	margin-left: 5px;
}

.blog-post .content {
	width: 100% !important;
	background-color: white;
	color: black;
}

.blog-post .content p {
	padding: 5px;
}