#root {
	background: url('../img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 50px;
}

.menu-drop {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.12);	
}

.menu-drop .md-button {
	display: block;
	padding: 0px;
	border: 0px;
}

md-content {
	display: inline;
}

md-nav-ink-bar {
	position: inherit;
}

.md-nav-bar {
	background-color: white !important;
	z-index: 100 !important;
}

.md-nav-bar ul li {
	border-right: 1px solid rgba(0, 0, 0, 0.12);		
	margin-top: 0;
	margin-left: 0;
	height: 50px;
}

.nav-user img {
	height: 30px;
}

.header {
	top: 0; 
	position: fixed; 
	z-index: 999; 
	width: 100%;
}

.blog-panel {
	background: transparent;
}

.blog-panel main {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.12);
}