<md-content>
	<h3><a href ui-sref="root.forum.home">Forum</a> / New replies</h3>
	<p>
		<span class="pages">
			<md-button ng-repeat="page in pages" ng-class="{ 'active': page == currentPage }" ng-disabled="page == currentPage" ng-click="loadPage(page)">{{ page }}</md-button>
		</span>
		<md-button ng-click="refresh()" ng-disabled="refreshing" style="float: right;" hide-xs><i class="fa fa-refresh"></i> {{ refreshText }}</md-button>
	</p>
	<md-list layout-fill layout="column">
		<md-list-item class="md-3-line thread" ng-repeat="thread in threads" layout="row" layout-fill>
			<img ng-src="{{ thread.createdBy.profilePhoto }}" class="md-avatar" ng-alt="{{ thread.createdBy.displayName }}" />
			<div class="md-list-item-text" flex="33" flex-xs="50">
				<h3><a href ui-sref="root.forum.threads({ id: thread._id })">{{ thread.title }}</a></h3>
				<p>Thread started by <a href ui-sref="root.profile({ id: thread.createdBy._id })">{{ thread.createdBy.displayName }}</a><p>
				<p><i class="fa fa-level-up"></i> On section <a href ui-sref="root.forum.sections({ section: thread.section.name })">{{ sections[thread.section.name].title }}</a></p>
			</div>
			<div class="md-list-item-text" flex="33" flex-xs="0">
				<h3>{{ thread.numReplies || 0 | number }} replies</h3>
				<p>{{ thread.numViews || 0 | number }} views</p>
				<p></p>
			</div>
			<div class="md-list-item-text" flex="33" flex-xs="50" style="text-align: right;">
				<h3>Last reply: <a href ui-sref="root.profile({ id: thread.lastUpdate.updatedBy._id })">{{ thread.lastUpdate.updatedBy.displayName }}</a></h3>
				<p><i class="fa fa-clock-o"></i> <time ng-bind="timeAgo(thread.lastUpdate._id)"></time></p>
				<p></p>
			</div>
		</md-list-item>
	</md-list>
	<p><span class="pages">
		<md-button ng-repeat="page in pages" ng-class="{ 'active': page == currentPage }" ng-disabled="page == currentPage" ng-click="loadPage(page)">{{ page }}</md-button>
	</span></p>
</md-content>