<div id="forum">
	<span layout="row">
		<a href ui-sref="root.forum.new"><md-button><i class="fa fa-star"></i> View new replies</a></md-button>
	</span>
	<section ng-repeat="category in categories">
		<h3 layout="row" layout-align="right center">
			<img ng-src="{{ category.icon }}" aria-label="{{ category.name }}" /> 
			{{ category.name }}
		</h3>
		<article layout="row" ng-repeat="section in category.sections">
			<div flex="5" layout="column" layout-align="center center">
				<img ng-src="{{ sectionData[section].icon }}" aria-label="{{ sectionData[section].title }}" />
			</div>
			<div class="description" flex="35" flex-xs="60">
				<a href ui-sref="{{ sectionData[section].url }}"><h4>{{ sectionData[section].title }}</h4></a>
				<p>{{ sectionData[section].description }}</p>
			</div>
			<div class="stats" flex="20" hide-xs style="text-align: right;">
				<p>{{ getData(sectionData[section].name).numThreads || 0 | number }} threads</p>
				<p>{{ getData(sectionData[section].name).numReplies || 0 | number }} replies</p>
			</div>
			<div class="latest" flex="40" ng-if="getData(sectionData[section].name).lastThread">
				<a href ui-sref="root.forum.threads({ id: getData(sectionData[section].name).lastThread._id })"><p>{{ getData(sectionData[section].name).lastThread.title }}</p></a>
				<p>
					<i class="fa fa-clock-o"></i> <time ng-bind="timeAgo(getLastUpdate(sectionData[section].name).date)"></time> by
					<a href ui-sref="root.forum.profile({ id: getLastUpdate(sectionData[section].name).user._id })">{{ getLastUpdate(sectionData[section].name).user.displayName }}</a> 
				</p>
			</div>
		</article>
	</section>
</div>